.container

  - @articles.each do |article|
    .card
      .card_grid
        - if article.images.attached?
          - article.images.each do |image|
            .card_image
              = image_tag image.variant(resize: '170!x100').processed, class: 'card_image_large'
      .card_content
        .card_content
          = article.content
        .card_heart
          = image_tag 'heart.png'
          %span 23
        .card_detail
          = image_tag 'default-avatar.png'
          %div
            %p cohki0305
            %p 2020/4/16
