$avatar-size: 32px;

.comment_footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  max-width: 375px;

  .comment-text-area {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    resize: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border: none;

    .btn-secondary {
      background: #FFFFFF;
    }

    .add-comment-button {
      margin-right: 10px;
      order: 1;
      margin-left: 10px;
      margin-top: 8px;
      background: #FFFFFF;
    }
  
    textarea.sm {
      order: 2;
      border: none;
      width: 85%;
      margin-top: 2px;
      margin-left: 10px;
      max-width: 600px;
    }    
  } 
}

.comments_container {
  margin-bottom: 50px;
}

.comment {
  &_user_detail {
    padding-top: 12px;
    cursor: pointer;
    display: flex;
    font-size: 10px;
      h6 {
        margin-top: 10px;
      }
      p {
        margin-top: 0px;
        margin-bottom: 5px;
      }

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  &_user_image {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    margin-right: 8px;
  }
}
